In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import json
import ast

In [3]:
total = pd.DataFrame()

In [4]:
iterations = ['']
for i in range(101,5701,100):
    iterations.append('/' + str(i))

In [5]:
pageCount = 0
for iteration in iterations:
    print('Starting crawl for the ' + str(pageCount) + 'th page')
    url = 'https://www.the-numbers.com/movie/budgets/all' + iteration
    print(url)
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    table = soup.find('table')
    rows = table.find_all('tr')
    # get title
    aref = rows[1].find_all('a')
    titles = []
    for index, value in enumerate(aref):
        if index % 2 == 1:
            titles.append(value.text)
    # get numeric data
    data = rows[1].find_all('td', class_='data')
    budget = []
    worldGross = []
    for index, value in enumerate(data):
        if index % 4 == 1:
            budget.append(value.text)
        elif index % 4 == 3:
            worldGross.append(value.text)
    temp = pd.DataFrame({'title': titles, 'budget':budget, 'gross':worldGross})
    total = total.append(temp)
    pageCount += 1

Starting crawl for the 0th page
https://www.the-numbers.com/movie/budgets/all
Starting crawl for the 1th page
https://www.the-numbers.com/movie/budgets/all/101
Starting crawl for the 2th page
https://www.the-numbers.com/movie/budgets/all/201
Starting crawl for the 3th page
https://www.the-numbers.com/movie/budgets/all/301
Starting crawl for the 4th page
https://www.the-numbers.com/movie/budgets/all/401
Starting crawl for the 5th page
https://www.the-numbers.com/movie/budgets/all/501
Starting crawl for the 6th page
https://www.the-numbers.com/movie/budgets/all/601
Starting crawl for the 7th page
https://www.the-numbers.com/movie/budgets/all/701
Starting crawl for the 8th page
https://www.the-numbers.com/movie/budgets/all/801
Starting crawl for the 9th page
https://www.the-numbers.com/movie/budgets/all/901
Starting crawl for the 10th page
https://www.the-numbers.com/movie/budgets/all/1001
Starting crawl for the 11th page
https://www.the-numbers.com/movie/budgets/all/1101
Starting crawl for the 12th page
https://www.the-numbers.com/movie/budgets/all/1201
Starting crawl for the 13th page
https://www.the-numbers.com/movie/budgets/all/1301
Starting crawl for the 14th page
https://www.the-numbers.com/movie/budgets/all/1401
Starting crawl for the 15th page
https://www.the-numbers.com/movie/budgets/all/1501
Starting crawl for the 16th page
https://www.the-numbers.com/movie/budgets/all/1601
Starting crawl for the 17th page
https://www.the-numbers.com/movie/budgets/all/1701
Starting crawl for the 18th page
https://www.the-numbers.com/movie/budgets/all/1801
Starting crawl for the 19th page
https://www.the-numbers.com/movie/budgets/all/1901
Starting crawl for the 20th page
https://www.the-numbers.com/movie/budgets/all/2001
Starting crawl for the 21th page
https://www.the-numbers.com/movie/budgets/all/2101
Starting crawl for the 22th page
https://www.the-numbers.com/movie/budgets/all/2201
Starting crawl for the 23th page
https://www.the-numbers.com/movie/budgets/all/2301
Starting crawl for the 24th page
https://www.the-numbers.com/movie/budgets/all/2401
Starting crawl for the 25th page
https://www.the-numbers.com/movie/budgets/all/2501
Starting crawl for the 26th page
https://www.the-numbers.com/movie/budgets/all/2601
Starting crawl for the 27th page
https://www.the-numbers.com/movie/budgets/all/2701
Starting crawl for the 28th page
https://www.the-numbers.com/movie/budgets/all/2801
Starting crawl for the 29th page
https://www.the-numbers.com/movie/budgets/all/2901
Starting crawl for the 30th page
https://www.the-numbers.com/movie/budgets/all/3001
Starting crawl for the 31th page
https://www.the-numbers.com/movie/budgets/all/3101
Starting crawl for the 32th page
https://www.the-numbers.com/movie/budgets/all/3201
Starting crawl for the 33th page
https://www.the-numbers.com/movie/budgets/all/3301
Starting crawl for the 34th page
https://www.the-numbers.com/movie/budgets/all/3401
Starting crawl for the 35th page
https://www.the-numbers.com/movie/budgets/all/3501
Starting crawl for the 36th page
https://www.the-numbers.com/movie/budgets/all/3601
Starting crawl for the 37th page
https://www.the-numbers.com/movie/budgets/all/3701
Starting crawl for the 38th page
https://www.the-numbers.com/movie/budgets/all/3801
Starting crawl for the 39th page
https://www.the-numbers.com/movie/budgets/all/3901
Starting crawl for the 40th page
https://www.the-numbers.com/movie/budgets/all/4001
Starting crawl for the 41th page
https://www.the-numbers.com/movie/budgets/all/4101
Starting crawl for the 42th page
https://www.the-numbers.com/movie/budgets/all/4201
Starting crawl for the 43th page
https://www.the-numbers.com/movie/budgets/all/4301
Starting crawl for the 44th page
https://www.the-numbers.com/movie/budgets/all/4401
Starting crawl for the 45th page
https://www.the-numbers.com/movie/budgets/all/4501
Starting crawl for the 46th page
https://www.the-numbers.com/movie/budgets/all/4601
Starting crawl for the 47th page
https://www.the-numbers.com/movie/budgets/all/4701
Starting crawl for the 48th page
https://www.the-numbers.com/movie/budgets/all/4801
Starting crawl for the 49th page
https://www.the-numbers.com/movie/budgets/all/4901
Starting crawl for the 50th page
https://www.the-numbers.com/movie/budgets/all/5001
Starting crawl for the 51th page
https://www.the-numbers.com/movie/budgets/all/5101
Starting crawl for the 52th page
https://www.the-numbers.com/movie/budgets/all/5201
Starting crawl for the 53th page
https://www.the-numbers.com/movie/budgets/all/5301
Starting crawl for the 54th page
https://www.the-numbers.com/movie/budgets/all/5401
Starting crawl for the 55th page
https://www.the-numbers.com/movie/budgets/all/5501
Starting crawl for the 56th page
https://www.the-numbers.com/movie/budgets/all/5601

In [12]:
total

,title,budget,gross
0,Avatar,"$425,000,000","$2,776,345,279"
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$1,045,663,875"
2,Avengers: Age of Ultron,"$330,600,000","$1,405,057,855"
3,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$1,316,764,784"
4,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$2,053,311,220"
5,Avengers: Infinity War,"$300,000,000","$2,008,425,124"
6,Pirates of the Caribbean: At Worldâs End,"$300,000,000","$963,420,425"
7,Justice League,"$300,000,000","$655,953,446"
8,Spectre,"$300,000,000","$879,620,923"
9,The Dark Knight Rises,"$275,000,000","$1,084,439,099"
10,The Lone Ranger,"$275,000,000","$260,002,115"
11,John Carter,"$275,000,000","$282,778,100"
12,Tangled,"$260,000,000","$586,477,240"
13,Spider-Man 3,"$258,000,000","$894,860,230"
14,Captain America: Civil War,"$250,000,000","$1,142,047,135"
15,Batman v Superman: Dawn of Justice,"$250,000,000","$867,822,763"
16,The Hobbit: An Unexpected Journey,"$250,000,000","$1,017,003,568"
17,Harry Potter and the Half-Blood Prince,"$250,000,000","$935,083,686"
18,The Hobbit: The Desolation of Smaug,"$250,000,000","$960,366,855"
19,The Hobbit: The Battle of the Five Armies,"$250,000,000","$945,869,788"
20,The Fate of the Furious,"$250,000,000","$1,234,908,020"
21,Solo: A Star Wars Story,"$250,000,000","$385,329,062"
22,Superman Returns,"$232,000,000","$374,085,065"
23,Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$788,241,137"
24,Quantum of Solace,"$230,000,000","$591,692,078"
25,The Avengers,"$225,000,000","$1,517,935,897"
26,Pirates of the Caribbean: Dead Manâs Chest,"$225,000,000","$1,066,215,812"
27,Man of Steel,"$225,000,000","$667,999,518"
28,The Chronicles of Narnia: Prince Caspian,"$225,000,000","$417,341,288"
29,The Amazing Spider-Man,"$220,000,000","$757,890,267"
...,...,...,...
3,Dutch Kills,"$25,000",$0
4,Slacker,"$23,000","$1,227,508"
5,Dry Spell,"$22,000",$0
6,Flywheel,"$20,000",$0
7,All Superheroes Must Die,"$20,000",$0
8,The Front Man,"$20,000",$0
9,Steel Spirit,"$20,000",$0
10,The Ridges,"$17,300",$0
11,The Puffy Chair,"$15,000","$195,254"
12,Breaking Upwards,"$15,000","$115,592"
13,Stories of Our Lives,"$15,000",$0
14,Pink Flamingos,"$12,000","$413,802"
15,Grip: A Criminal's Story,"$12,000","$1,336"
16,Tin Can Man,"$12,000",$0
17,Dayereh,"$10,000","$673,780"
18,Clean,"$10,000","$138,711"
19,Cure,"$10,000","$94,596"
20,On the Downlow,"$10,000","$1,987"
21,Bang,"$10,000",$527
22,The Rise and Fall of Miss Thang,"$10,000",$401
23,Family Motocross,"$10,000",$0
24,Newlyweds,"$9,000","$4,584"
25,El Mariachi,"$7,000","$2,041,928"
26,Primer,"$7,000","$841,926"
27,Cavite,"$7,000","$71,644"
28,The Mongol King,"$7,000",$900
29,Following,"$6,000","$240,495"
30,Return to the Land of Wonders,"$5,000","$1,338"
31,A Plague So Pleasant,"$1,400",$0
32,My Date With Drew,"$1,100","$181,041"

In [15]:
def getData():
    print('Reading meta data csv.')
    mainDS = pd.read_csv("../Documents/movies-profit/movies_metadata.csv")
    mainDS = mainDS.drop([19730,29503,35587])
    mainDS.drop(['adult','homepage','original_language','overview','spoken_languages','status','tagline','original_title','video', 'poster_path'], axis=1, inplace = True)
    return mainDS

def transformCollection(mainDS):
    # Convert if belongs to a collection to a boolean value.
    print('Transforming the collections column.')
    collections = mainDS['belongs_to_collection']
    isCollection = ~collections.isnull()
    mainDS['belongs_to_collection'] = isCollection
    return mainDS

def getUniqueAndCleanGenres(mainDS):
    print('Cleaning Genres and getting unique list.')
    genres = mainDS['genres'].tolist()
    genreList = []
    cleanGenres = []
    for rawGenre in genres:
        cleanGenre = ast.literal_eval(rawGenre)
        genreString = ''
        for element in cleanGenre:
            genreList.append(element['name'])
            genreString = genreString + element['name'] + ','
        cleanGenres.append(genreString.strip(','))
    mainDS['genres'] = cleanGenres 
    # Set gets unique values and then convert back into list
    uniqueGenres = list(set(genreList))
    return uniqueGenres, mainDS

def castIdToInt(mainDS):
    print('Converting ID to integer data type.')
    ids = mainDS['id'].values
    idList = []
    index = 0
    for item in ids:
        try:
            idList.append(int(item))
            index += 1
        except:
            print(index)
            index += 1
    mainDS['id'] = idList
    return mainDS

def getCastData(mainDS):
    print('Reading cast data. Merging with main dataset.')
    creditData = pd.read_csv('../Documents/movies-profit/act_dirDS.csv')
    mergedDS = mainDS.merge(creditData, how = 'inner', left_on = 'id', right_on = 'id')

    directors = mergedDS['director'].tolist()
    cleanDirectors = []
    for directorString in directors:
        director = directorString.strip('[]')
        director = director.replace("'", "")
        cleanDirectors.append(director)
    mergedDS['director'] = cleanDirectors

    actors = mergedDS['actors'].tolist()
    cleanActors = []
    for actorString in actors:
        actor = actorString.strip('[]')
        actor = actor.replace("'", "")
        cleanActors.append(actor)
    mergedDS['actors'] = cleanActors
    return mergedDS

def removeNulls(mainDS):
    print('Removing nulls and 0 values.')
    mainDS.dropna(axis = 0, how = 'any', inplace = True)
    mainDS = mainDS.reset_index(drop = True)
    return mainDS

In [16]:
mainDS = getData()
mainDS = transformCollection(mainDS)
uniqueGenres, mainDS = getUniqueAndCleanGenres(mainDS)
mainDS = castIdToInt(mainDS)
mainDS = getCastData(mainDS)
mainDS = removeNulls(mainDS)
mainDS = mainDS[mainDS['budget']!=0]
mainDS = mainDS.dropna(axis = 0, how = 'any')
print('Done')

Reading meta data csv.
Transforming the collections column.
Cleaning Genres and getting unique list.
Converting ID to integer data type.
Reading cast data. Merging with main dataset.
Removing nulls and 0 values.
Done

In [17]:
data.shape

AttributeError: ResultSet object has no attribute 'shape'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [18]:
mask1 = merged['budget'] == 0
mask2 = merged['revenue'] == 0
data = merged[mask1 & mask2]

NameError: name 'merged' is not defined

In [216]:
data = data.merge(total, 'inner', left_on = 'title', right_on = 'title')
data['budget_x'] = data['budget_y']
data['revenue'] = data['gross']
data = data.rename({'budget_x': 'budget'}, axis = 1)
data = data.drop(['budget_y', 'gross'], axis = 1)

In [217]:
data

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count,director,actors
0,False,False,"$20,000,000","Drama,Thriller",1710,tt0112722,en,Copycat,10.701801,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-27,"$32,051,917",124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Copycat,6.5,199.0,['Jon Amiel'],"['Sigourney Weaver', 'Holly Hunter', 'Will Pat..."
1,False,False,"$11,000,000",Drama,16420,tt0114057,en,Othello,1.845899,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'IT', 'name': 'Italy'}]",1995-12-15,"$2,844,379",123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Othello,7.0,33.0,['Oliver Parker'],"['Laurence Fishburne', 'Irène Jacob', 'Kenneth..."
2,False,False,"$11,000,000","Drama,Romance",47697,tt0045251,en,Othello,2.698585,"[{'name': 'Les Films Marceau', 'id': 2260}, {'...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1951-11-27,"$2,844,379",90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Othello,6.5,35.0,['Orson Welles'],"['Orson Welles', 'Micheál MacLiammóir', 'Rober..."
3,False,False,"$11,000,000",Drama,44006,tt0059555,en,Othello,0.377325,"[{'name': 'BHE Films', 'id': 2008}, {'name': '...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1965-12-15,"$2,844,379",165.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Othello,6.1,9.0,['Stuart Burge'],"['Laurence Olivier', 'Maggie Smith', 'Joyce Re..."
4,False,False,"$11,000,000",NaN,119928,tt0082861,en,Othello,0.653579,[],[],1981-10-04,"$2,844,379",204.0,[],Othello,9.5,2.0,['Colin Lowrey'],['Anthony Hopkins']
5,False,False,"$9,200,000","Drama,War",31174,tt0114279,en,Richard III,4.561387,"[{'name': 'British Screen', 'id': 871}, {'name...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-12-29,"$4,199,334",104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Richard III,6.9,50.0,['Richard Loncraine'],"['Ian McKellen', 'Annette Bening', 'Jim Broadb..."
6,False,False,"$9,200,000","Drama,History",43323,tt0049674,en,Richard III,1.971284,"[{'name': 'London Film Productions', 'id': 659...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1955-12-13,"$4,199,334",161.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Richard III,6.8,26.0,['Laurence Olivier'],"['Cedric Hardwicke', 'Nicholas Hannen', 'Laure..."
7,False,False,"$9,200,000",Drama,46758,tt0002461,en,Richard III,0.051310,"[{'name': ""Le Film d'Art"", 'id': 1573}, {'name...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1912-10-15,"$4,199,334",55.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Richard III,0.0,1.0,"['André Calmettes', 'James Keane']","['Robert Gemp', 'Frederick Warde', 'Albert Gar..."
8,False,False,"$80,000,000","Comedy,Drama,Romance",11010,tt0110877,it,Il postino,10.168437,[],"[{'iso_3166_1': 'BE', 'name': 'Belgium'}, {'is...",1994-09-22,"$20,841,123",108.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",The Postman,7.6,181.0,['Michael Radford'],"['Philippe Noiret', 'Massimo Troisi', 'Maria G..."
9,False,False,"$65,000,000","Drama,History",48750,tt0113828,fr,Les misérables,1.479446,"[{'name': 'Les Films 13', 'id': 1742}, {'name'...","[{'iso_3166_1': 'FR', 'name': 'France'}]",1995-03-22,"$442,169,052",175.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Les Miserables,6.6,8.0,['Claude Lelouch'],"['Jean-Paul Belmondo', 'Michel Boujenah', 'Ale..."
10,False,False,"$65,000,000","Drama,Romance",132654,tt0044907,en,Les Miserables,0.278476,[{'name': 'Twentieth Century Fox Film Corporat...,[],1952-08-14,"$442,169,052",105.0,[],Les Miserables,5.6,4.0,['Lewis Milestone'],"['Michael Rennie', 'Debra Paget', 'Robert Newt..."
11,False,False,"$40,000,000","Drama,Thriller",11062,tt0115907,en,City Hall,4.807223,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-02-16,"$20,278,055",111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",City Hall,6.0,67.0,['Harold Becker'],"['Al Pacino', 'John Cusack', 'Bridget Fonda']"
12,False,False,"$50,000","Comedy,Drama,Romance",16388,tt0112585,en,The Brothers McMullen,2.039196,"[{'name': 'Fox Searchlight Pictures', 'id': 43}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-08-09,"$10,426,506",98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Brothers McMullen,6.3,23.0,['Edward Burns'],"['Shari Albert', 'Maxine Bahns', 'Catharine Bo..."
13,False,False,"$33,000,000",Drama,32646,tt0114323,en,Safe,8.180047,"[{'name': 'Killer Films', 'id': 1422}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-06-23,"$41,495,213",119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Safe,7.2,62.0,['Todd Haynes'],"['Julianne Moore', 'Xander Berkeley', 'Dean No..."
14,False,False,"$1,500,000","Drama,Mystery",20156,tt0109759,en,Exotica,5.378467,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",1994-09-24,"$5,046,118",103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Exotica,6.5,64.0,['Atom Egoyan'],"['Bruce Greenwood', 'Mia Kirshner', 'Elias Kot..."
15,False,False,"$55,000,000","Action,Thriller",32631,tt0113360,en,The Hunted,2.756986,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-24,"$47,213,095",106.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",The Hunted,6.0,25.0,['J. F. Lawton'],"['Christopher Lambert', 'John Lone', 'Joan Chen']"
16,False,False,"$4,000,000","Comedy,Crime",18713,tt0110189,en,The Jerky Boys,0.748846,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-03,"$7,555,256",82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Jerky Boys,4.8,10.0,['James Melkonian'],"['John G. Brennan', 'Kamal Ahmed', 'Alan Arkin']"
17,False,False,"$50,000,000","Action,Comedy,Family",40490,tt0113755,en,Man of the House,2.558118,"[{'name': 'Walt Disney Pictures', 'id': 2}]",[],1995-03-03,"$22,099,706",96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Man of the House,5.1,40.0,['James Orr'],"['Farrah Fawcett', 'Chevy Chase', 'Jonathan Ta..."
18,False,True,"$12,000,000","Horror,Comedy,Thriller",9059,tt0114608,en,Tales from the Crypt: Demon Knight,9.455342,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-01-13,"$21,089,146",92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Tales from the Crypt: Demon Knight,6.7,96.0,['Ernest R. Dickerson'],"['Billy Zane', 'William Sadler', 'Jada Pinkett..."
19,False,False,"$20,000,000","Action,Comedy,Thriller",11382,tt0109348,en,Bullets Over Broadway,5.722880,"[{'name': 'Miramax Films', 'id': 14}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1994-10-14,"$13,383,747",98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Bullets Over Broadway,7.0,130.0,['Woody Allen'],"['John Cusack', 'Dianne Wiest', 'Jennifer Tilly']"
20,False,False,"$14,000,000","Comedy,Drama",34152,tt0109504,en,Crooklyn,2.533022,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",1994-05-13,"$13,024,170",115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Crooklyn,6.7,31.0,['Spike Lee'],"['Alfre Woodard', 'Delroy Lindo', 'David Patri..."
21,False,False,"$175,000,000","Adventure,Drama,Family",10714,tt0110213,en,The Jungle Book,10.714235,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1994-12-23,"$963,819,542",111.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",The Jungle Book,5.9,107.0,['Stephen Sommers'],"['Jason Scott Lee', 'Cary Elwes', 'Lena Headey']"
22,False,False,"$27,000,000","Adventure,Drama,Family",10714,tt0110213,en,The Jungle Book,10.714235,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1994-12-23,"$44,342,956",111.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",The Jungle Book,5.9,107.0,['Stephen Sommers'],"['Jason Scott Lee', 'Cary Elwes', 'Lena Headey']"
23,False,False,"$70,000,000",Fantasy,10395,tt0111742,en,Wolf,14.063845,"[{'name': 'Columbia Pictures', 'id': 5}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1994-06-17,"$131,011,757",125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Wolf,6.0,221.0,['Mike Nichols'],"['Jack Nicholson', 'Christopher Plummer', 'Jam..."
24,False,False,"$70,000,000",Thriller,36610,tt0385842,es,El Lobo,1.535646,"[{'name': 'Castelao Producciones', 'id': 7956}...","[{'iso_3166_1': 'ES', 'name': 'Spain'}]",2004-11-05,"$131,011,757",125.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Wolf,6.2,19.0,['Miguel Courtois'],"['Eduardo Noriega', 'José Coronado', 'Mélanie ..."
25,False,False,"$70,000,000","Drama,Thriller,Crime",191104,tt2504404,nl,Wolf,2.733359,"[{'name': 'Habbekrats', 'id': 36686}]","[{'iso_3166_1': 'NL', 'name': 'Netherlands'}]",2013-09-11,"$131,011,757",122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Wolf,6.6,16.0,['Jim Taihuttu'],"['Raymond Thiry', 'Bo Maerten', 'Slimane Dazi']"
26,False,False,"$70,000,000","Drama,Action,Adventure",14074,tt0937378,en,Varg,0.245543,"[{'name': 'Sonet Film AB', 'id': 7937}]","[{'iso_3166_1': 'SE', 'name': 'Sweden'}]",2008-04-04,"$131,011,757",95.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Wolf,4.0,1.0,['Daniel Alfredson'],"['Peter Stormare', 'Robin Lundberg', 'Rolf Deg..."
27,False,False,"$70,000,000","Action,Crime,Romance,Thriller",40480,tt0112443,en,Bad Company,0.912415,"[{'name': 'Touchstone Pictures', 'id': 9195}, ...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-01-20,"$69,157,016",108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Bad Company,4.9,12.0,['Damian Harris'],"['Laurence Fishburne', 'Ellen Barkin', 'Frank ..."
28,False,False,"$70,000,000","Western,Drama",31591,tt0068245,en,Bad Company,6.975511,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1972-10-08,"$69,157,016",93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Bad Company,6.3,22.0,['Robert Benton'],"['Jeff Bridges', 'Barry Brown', 'David Huddles..."
29,False,False,"$85,000,000",Comedy,203119,tt0114047,en,Open Season,0.012456,"[{'name': 'Home Box Office (HBO)', 'id': 3268}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-05-03,"$191,932,158",97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Open Season,0.0,0.0,['Robert Wuhl'],"['Robert Wuhl', 'Tom Selleck', 'Joe Piscopo']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532,False,False,"$1,000,000",Comedy,445605,tt4379536,it,Slam - Tutto per una ragazza,5.372696,"[{'name': 'Indigo Film', 'id': 1533}, {'name':...","[{'iso_3166_1': 'IT', 'name': 'Italy'}]",2016-11-20,"$1,087,521",100.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Slam,5.9,26.0,['Andrea Molaioli'],"['Ludovico Tersigni', 'Barbara Ramella', 'Jasm..."
1533,False,False,"$11,000,000","Romance,Family,Comedy",452606,tt0264051,tr,Sultan,0.000347,"[{'name': 'Arzu Film', 'id': 4639}]","[{'iso_3166_1': 'TR', 'name': 'Turkey'}]",1978-12-01,"$72,989,781",NaN,"[{'iso_639_1': 'tr', 'name': 'Türkçe'}]",Sultan,0.0,0.0,['Kartal Tibet'],"['Türkan Şoray', 'Bulut Aras', 'Adile Naşit']"
1534,False,False,"$18,000,000","Drama,War,Science Fiction",49426,tt2720566,ru,Туман,0.367403,"[{'name': 'VVP-Alyans', 'id': 22090}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2010-05-09,"$37,048,526",151.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",The Fog,5.7,6.0,"['Ivan Shurhovetsky', 'Artem Aksenenko']","['Igor Shmakov', 'Vasily Raksha', 'Ilya Glinni..."
1535,False,False,"$1,100,000","Drama,War,Science Fiction",49426,tt2720566,ru,Туман,0.367403,"[{'name': 'VVP-Alyans', 'id': 22090}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2010-05-09,"$21,445,318",151.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",The Fog,5.7,6.0,"['Ivan Shurhovetsky', 'Artem Aksenenko']","['Igor Shmakov', 'Vasily Raksha', 'Ilya Glinni..."
1536,False,False,"$1,200,000",Horror,310933,tt2622294,en,Bleeding Hearts,0.181289,[],[],2013-06-01,$0,0.0,[],Bleeding Hearts,2.0,1.0,['Dylan Bank'],"['Robert Loggia', 'Charles Durning', 'Tony Todd']"
1537,False,False,"$1,000,000",Drama,426256,tt6288250,en,Patti Cake$,2.617894,"[{'name': 'RT Features', 'id': 30666}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-08-18,"$1,471,090",108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Patti Cake$,6.9,27.0,['Geremy Jasper'],"['Danielle Macdonald', 'Bridget Everett', 'Sid..."
1538,False,False,"$1,000,000",Drama,295588,tt2304459,en,23 Blast,1.675700,"[{'name': 'Toy Gun Films', 'id': 34233}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",2014-10-24,"$549,185",98.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",23 Blast,6.1,21.0,['Dylan Baker'],"['Mark Hapka', 'Bram Hoover', 'Stephen Lang']"
1539,False,False,"$8,000,000",Drama,255898,tt3508808,ru,Еще один год,0.187678,"[{'name': 'Gosfilmofond', 'id': 46244}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2014-01-15,"$20,005,613",107.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Another Year,6.7,3.0,['Oksana Bychkova'],"['Aleksey Filimonov', 'Nadezhda Lumpova', 'Olg..."
1540,False,False,"$25,000,000",Comedy,38966,tt0095730,en,The Night Before,3.351537,"[{'name': 'Kings Road Entertainment', 'id': 42...",[],1988-04-15,"$52,427,346",85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Night Before,7.4,12.0,['Thom Eberhardt'],"['Keanu Reeves', 'Lori Loughlin', 'Theresa Sal..."
1541,False,False,"$2,500,000","Comedy,Family",76706,tt1663628,en,Christmas Mail,0.832924,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2010-12-01,$0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Christmas Mail,5.0,15.0,['John Murlowski'],"['Ashley Scott', 'A.J. Buckley', 'Rolanda Watts']"
1542,False,False,"$160,000,000","Animation,Drama",8128,tt0075811,cs,Čarodějův učeň,1.182210,"[{'name': 'Süddeutscher Rundfunk', 'id': 210},...","[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'...",1978-03-01,"$217,986,320",82.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",The Sorcerer's Apprentice,7.4,14.0,['Karel Zeman'],"['Luděk Munzar', 'Jaroslav Moučka']"
1543,False,False,"$64,000,000",Comedy,80178,tt0479293,en,Lille Mand,0.666729,[],[],2006-04-07,"$101,636,047",13.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Little Man,6.3,5.0,['Esben Tønnesen'],"['Nikolaj Rasmussen', 'Malene Rasmussen', 'Phi..."
1544,False,False,"$22,000,000",Thriller,89070,tt2156825,ru,Камень,0.644585,"[{'name': 'Slava Film', 'id': 18061}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2012-01-19,"$4,065,020",90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Stone,4.5,7.0,['Vyacheslav Kaminsky'],"['Sergey Svetlakov', 'Olesya Sudzilovskaya', '..."
1545,False,False,"$43,000,000","Comedy,Romance",71381,tt0913446,ru,ЖАRА,0.653279,"[{'name': 'Art Pictures Studio', 'id': 3451}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2006-12-28,"$229,727,774",95.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",The Heat,3.2,6.0,['Rezo Gigineishvili'],"['Agniya Ditkovskite', 'Aleksey Chadov', 'Artu..."
1546,False,False,"$10,000,000",Comedy,34417,tt1070781,en,Good Intentions,0.806576,"[{'name': 'Shadowlight Productions', 'id': 5460}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2010-03-09,$0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Good Intentions,5.0,6.0,['Jim Issa'],"['Luke Perry', 'LeAnn Rimes', 'Jimmi Simpson']"
1547,False,False,"$16,000,000","Horror,Action,Fantasy,Thriller",430988,tt6569546,ru,Вурдалаки,9.334447,"[{'name': 'VVP-Alyans', 'id': 22090}, {'name':...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2017-02-22,"$94,812",90.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Vamps,5.0,6.0,['Sergey Ginzburg'],"['Konstantin Kryukov', 'Михаил Пореченков', 'A..."
1548,False,False,"$50,000,000","Action,Thriller,Science Fiction,Foreign",82495,tt0262429,fr,Gamer,0.759754,[],"[{'iso_3166_1': 'FR', 'name': 'France'}]",2001-03-21,"$42,002,029",0.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Gamer,3.2,5.0,['Patrick Levis'],"['Saïd Taghmaoui', 'Alexis Loret', 'Camille De..."
1549,False,False,"$400,000","Drama,Adventure",83481,tt1483386,ca,Herois,0.477999,[],"[{'iso_3166_1': 'ES', 'name': 'Spain'}]",2010-10-22,"$655,538",0.0,"[{'iso_639_1': 'ca', 'name': 'Català'}, {'iso_...",Heroes,7.6,11.0,['Pau Freixas'],"['Eva Santolaria', 'Àlex Brendemühl', 'Àlex Mo..."
1550,False,False,"$49,000,000","Drama,Romance",32066,tt0040098,en,Anna Karenina,0.603149,"[{'name': 'London Film Productions', 'id': 659}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1948-01-22,"$71,004,627",139.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Anna Karenina,5.3,6.0,['Julien Duvivier'],"['Vivien Leigh', 'Ralph Richardson', 'Kieron M..."
1551,False,False,"$35,000,000",Documentary,46898,tt0068903,en,Malcolm X,0.103144,"[{'name': 'Warner Bros.', 'id': 6194}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1972-05-24,"$48,169,910",91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Malcolm X,7.5,2.0,['Arnold Perl'],"['James Earl Jones', 'Ossie Davis', 'Mister Wa..."
1552,False,False,"$50,000,000","Action,Comedy",134201,tt0095802,en,Out of Time,0.021309,"[{'name': 'Columbia Pictures Television', 'id'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1988-07-17,"$55,489,826",92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Out of Time,0.0,0.0,['Robert Butler'],"['Bruce Abbott', 'Bill Maher', 'Rebecca Schaef..."
1553,False,False,"$150,000",Documentary,178862,tt2403815,en,Aroused,2.358338,"[{'name': 'Cherry On Top', 'id': 20757}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2013-02-20,$0,73.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Aroused,7.2,11.0,['Deborah Anderson'],"['Lisa Ann', 'Kayden Kross', 'Belladonna']"
1554,False,False,"$65,000,000","Music,Family,Comedy",26177,tt0207972,en,Annie,2.176990,"[{'name': 'Walt Disney Television', 'id': 670}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1999-11-07,"$139,840,525",90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Annie,6.1,54.0,['Rob Marshall'],"['Kathy Bates', 'Victor Garber', 'Alan Cumming']"
1555,False,False,"$35,000,000","Fantasy,Drama",465044,tt5943940,en,Abduction,0.281008,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-28,"$86,648,359",90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Abduction,0.0,0.0,"['Molly Smith', 'Maurice Smith']","['Karolina Antosik', 'Amelie Leroy', 'Tessa Mc..."
1556,False,False,"$5,000,000","Comedy,Animation",130627,tt2095646,en,Get Out,0.147059,[],"[{'iso_3166_1': 'FR', 'name': 'France'}]",2010-02-01,"$255,368,134",7.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Get Out,4.5,4.0,"['Charlotte Boisson', 'Julien Fourvel']","['Jacques Briere', 'Philippe Peythieu']"
1557,False,False,"$20,000,000","Comedy,Crime",105759,tt1430144,en,The Black Hole,2.421060,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2008-01-01,"$35,841,901",3.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Black Hole,7.2,23.0,"['Philip Sansom', 'Olly Williams']",['Napoleon Ryan']
1558,False,False,"$90,000,000","Action,Adventure,Crime",463906,tt2569088,en,The Saint,28.235930,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2017-07-11,"$169,400,000",92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",The Saint,5.8,41.0,['Ernie Barbarash'],"['Adam Rayner', 'Eliza Dushku', 'Ian Ogilvy']"
1559,False,False,"$12,000,000","Fantasy,Horror,Thriller",440597,tt5322012,en,Wish Upon,59.578823,"[{'name': 'Broad Green Pictures', 'id': 49389}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2017-07-07,"$23,477,345",90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Wish Upon,5.3,127.0,['John R. Leonetti'],"['Joey King', 'Ryan Phillippe', 'Sherilyn Fenn']"
1560,False,False,"$28,000,000",Comedy,417870,tt3564472,en,Girls Trip,37.964872,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-07-21,"$140,886,353",122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Girls Trip,7.1,393.0,['Malcolm D. Lee'],"['Regina Hall', 'Queen Latifah', 'Jada Pinkett..."

In [218]:
data.shape

(1562, 20)

In [214]:
merged.shape

(45538, 20)

In [219]:
mask1 = merged['budget'] != 0
mask2 = merged['revenue'] != 0
merged = merged[mask1 & mask2]

In [220]:
merged.shape

(5393, 20)

In [203]:
merged = pd.read_csv('../Documents/movies-profit/mergedData.csv')

In [205]:
merged.shape

(45538, 20)

In [206]:
merged.head()

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count,director,actors
0,False,True,30000000,"Animation,Comedy,Family",862,tt0114709,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0,['John Lasseter'],"['Tom Hanks', 'Tim Allen', 'Don Rickles']"
1,False,False,65000000,"Adventure,Fantasy,Family",8844,tt0113497,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0,['Joe Johnston'],"['Robin Williams', 'Jonathan Hyde', 'Kirsten D..."
2,False,True,0,"Romance,Comedy",15602,tt0113228,en,Grumpier Old Men,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5,92.0,['Howard Deutch'],"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret']"
3,False,False,16000000,"Comedy,Drama,Romance",31357,tt0114885,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1,34.0,['Forest Whitaker'],"['Whitney Houston', 'Angela Bassett', 'Loretta..."
4,False,True,0,Comedy,11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7,173.0,['Charles Shyer'],"['Steve Martin', 'Diane Keaton', 'Martin Short']"

In [226]:
new.shape

(6955, 20)

In [238]:
test = new.iloc[6929]['revenue']

In [242]:
int(test.replace('$', ''))

0

In [229]:
new = new.reset_index(drop = True)

In [221]:
new = merged.append(data)

In [222]:
new.shape

(6955, 20)

In [230]:
new.to_csv('newData.csv')