In [1]:
import pandas as pd
from pandas import DataFrame
import json
import ast

In [13]:
data = pd.read_csv('mergedData.csv')
data.head()

,belongs_to_collection,budget,genres,id,imdb_id,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,director,actors
0,True,30000000,"Animation,Comedy,Family",862,tt0114709,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0,John Lasseter,"Tom Hanks, Tim Allen, Don Rickles"
1,False,65000000,"Adventure,Fantasy,Family",8844,tt0113497,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0,Joe Johnston,"Robin Williams, Jonathan Hyde, Kirsten Dunst"
2,True,0,"Romance,Comedy",15602,tt0113228,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Grumpier Old Men,6.5,92.0,Howard Deutch,"Walter Matthau, Jack Lemmon, Ann-Margret"
3,False,16000000,"Comedy,Drama,Romance",31357,tt0114885,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Waiting to Exhale,6.1,34.0,Forest Whitaker,"Whitney Houston, Angela Bassett, Loretta Devine"
4,True,0,Comedy,11862,tt0113041,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,Charles Shyer,"Steve Martin, Diane Keaton, Martin Short"

In [14]:
len(list(set(data['director'])))

18723

In [15]:
len(list(set(data['actors'])))

41938